body {
	background: #FFF;
}
a, a:hover {
	text-decoration: none;
	color: #FFF;
}
ul, ol {
	list-style: none;
}
.wrapper {
	max-width: 1280px;
	width: 95%;
	margin: 2% auto;
	position: relative;
}
.main {
	width: 100%;
	/*max-width:500px;*/
	/*margin:50px auto;*/
}
.main-desc {
	font-size: 16px;
	margin: 0 0 50px 0;
}

/*------------------------------------*\
 Simple HTML5 data-tabs
 \*------------------------------------*/

.tabs {
	width: 100%;
}

.tab {
	float: left;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	background: #F9F9F9;
	color: #777;
}
.tab.active, .tab:hover {
	background: #CEECF5;
	color: #222;
}
.content {
	display: none;
	clear: both;
	background: #FFF;
	padding-top: 20px;
}
.content.active {
	display: block;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	background: #D8D8D8;
}

#content_active1 {
	max-width: 550px;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.image {
	float: left;
	padding-right: 1%;
}

.image_tag {
	display: table-cell;
	max-width: 150px;
}

#search_image{
	padding-left: 1%;
	padding-bottom: 1%;
}

#search_image_benchmark{
	padding-left: 1%;
	padding-bottom: 1%;
}

.error_message{
	color: #F51E1E;
	font-size: 10pt;
}

.error{
	border-color: #F51E1E;
}

.image_result{
	max-width: 1241px;
	max-height: 800px;
}

.fileToUpload {
	padding-top: 2%;
	padding-bottom: 2%;
}

#input_image_name{
	width: 249px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 10px;
}

.search_image_field{
	width: 249px;
	height: 32px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid #ccc;
	padding: 10px;
}

.image_search_button{
	height: 32px;
	margin-left: -6px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #ccc;
	background-color: #5bc0de;
	color: white;
}

#results{
	padding-top: 0.5%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	background: #FFFFFF;
}
